@font-face {
    font-family: 'Inter-Medium';
    src: url(../Inter/static/Inter-Medium.ttf) format('truetype');
    font-weight: medium;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url(../Inter/static/Inter-Bold.ttf) format('truetype');
    font-weight: Bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: 'Inter-Medium', sans-serif;
    font-size: 22px;
    height: auto;
}

.container > h1 {
    font-family: 'Inter-Bold', sans-serif;
}

.container > h4 {
    margin-top: 20px;
}

.inputContainer {
    margin: 50px 0px;
}

.inputContainer input {
    width: 350px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #2F829A;
    border-radius: 4px;
}

.btn {
    width: 120px;
    height: 40px;
    font-size: 20px;
    background-color: #2F829A;
    color: #fff;
    border: none;
    margin-left: 15px;
    border-radius: 4px;
}

.inputContainer input:focus {
    outline: none;
    border: 2px solid #00a8ff;
}

.btn:hover {
    cursor: pointer;
    background-color: #00a8ff;
}

.randomContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #2F829A;
    color: #fff;
    width: 100vw;
    padding-bottom: 50px;
}

.randomContainer > h2 {
    margin: 40px 0px;
}

.img {
    width: 150px !important;
    display: flex;
}